<section class="popular">
    <h2>Popular Movies</h2>
    <div class="results">
        <!-- For each movie in the fetch array get the movie id, title, image and vote average. -->
     <% results.movies.forEach((movie)=> { %>
        <a href="movies/<%=movie.id%>">
            <!-- <h3>
                <%= movie.title %>
            </h3> -->
            <img alt="Movie poster for <%= movie['original_title'] %>" src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %> " />
            <p><%= movie.vote_average %></p>
        </a>
    <% }) %>
        </div>
</section>

