<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/goback') %>
    <main>
        <%- include ('../partials/single_product') %>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>